In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('/Users/fatu/百度云同步盘/dev/Kaggle/winton/train.csv')

In [20]:
df.head()

,Id,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Ret_175,Ret_176,Ret_177,Ret_178,Ret_179,Ret_180,Ret_PlusOne,Ret_PlusTwo,Weight_Intraday,Weight_Daily
0,1,NaN,NaN,NaN,NaN,8.0,NaN,75751,0.2254,11.0,...,-0.002688,0.002246,-0.000838,-6.953224e-04,0.000003,-0.001974,-0.019512,0.028846,1.251508e+06,1.564385e+06
1,2,NaN,NaN,NaN,NaN,3.0,0.388896,17369,0.0166,13.0,...,-0.000129,0.000123,0.000248,3.315418e-07,0.000003,0.000027,-0.002939,-0.010253,1.733950e+06,2.167438e+06
2,3,NaN,-0.696727,0.739591,-0.167928,9.0,0.471947,8277,0.3650,9.0,...,-0.000524,-0.000394,0.000116,5.322557e-04,0.000274,0.000784,-0.024791,0.015711,1.529197e+06,1.911497e+06
3,4,NaN,-0.694350,1.568248,0.479073,5.0,0.120653,22508,0.2654,13.0,...,0.000346,-0.000090,0.000288,-1.281102e-04,0.000074,0.000341,-0.005680,-0.002190,1.711569e+06,2.139462e+06
4,5,6.0,-1.736489,2.765531,1.245280,7.0,4.866985,22423,0.2138,13.0,...,-0.001235,0.000027,0.002449,8.619882e-06,0.001209,-0.000004,0.036104,-0.026552,1.267270e+06,1.584088e+06

In [57]:
df.iloc[0, :]
df.columns[1]

'Feature_1'

In [13]:
test_df = pd.read_csv('/Users/fatu/百度云同步盘/dev/Kaggle/winton/test_2.csv')

In [19]:
test_df.head()

,Id,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,...,Ret_111,Ret_112,Ret_113,Ret_114,Ret_115,Ret_116,Ret_117,Ret_118,Ret_119,Ret_120
0,1,1.0,1.412783,-0.056284,NaN,10.0,0.413226,18871,0.2138,11.0,...,0.000370,-0.000762,NaN,0.000366,-0.002444,-0.001301,-0.000917,0.000762,-0.000556,0.000759
1,2,NaN,NaN,0.907973,1.002425,7.0,-0.257825,5852,0.2138,13.0,...,0.000457,0.000003,-0.000007,-0.000003,-0.000012,-0.000463,-0.000003,-0.000002,0.000468,-0.000012
2,3,NaN,-0.607583,1.076668,0.517865,5.0,0.947340,76935,0.0105,10.0,...,0.000003,0.000157,-0.000181,0.000003,NaN,0.000164,0.000353,0.000704,-0.000168,-0.000006
3,4,NaN,2.230240,0.223222,NaN,1.0,NaN,84573,0.3318,13.0,...,0.000010,-0.000792,-0.000479,0.000017,0.000170,-0.001079,0.000320,0.000006,0.001392,-0.001850
4,5,NaN,0.360399,0.597896,-0.145497,10.0,0.275744,89615,0.0099,8.0,...,0.000447,0.000489,-0.000233,-0.000495,0.000057,-0.000050,-0.000011,-0.000377,0.000227,-0.000114

In [15]:
test_df.count()

Id              120000
Feature_1        20862
Feature_2        92476
Feature_3       116256
Feature_4        96560
Feature_5       120000
Feature_6       113984
Feature_7       120000
Feature_8       118590
Feature_9       114201
Feature_10       60860
Feature_11      117079
Feature_12      116588
Feature_13      118194
Feature_14      117857
Feature_15      113543
Feature_16      118103
Feature_17      118074
Feature_18      118246
Feature_19      116408
Feature_20       96959
Feature_21      116797
Feature_22      116116
Feature_23      114555
Feature_24      117595
Feature_25      117822
Ret_MinusTwo    120000
Ret_MinusOne    120000
Ret_2           116834
Ret_3           116108
                 ...
Ret_91          117607
Ret_92          118579
Ret_93          117990
Ret_94          118025
Ret_95          118038
Ret_96          117986
Ret_97          118198
Ret_98          118073
Ret_99          118014
Ret_100         117858
Ret_101         117989
Ret_102         118349
Ret_103         118043
Ret_104         117918
Ret_105         118016
Ret_106         117964
Ret_107         118381
Ret_108         118259
Ret_109         118101
Ret_110         117971
Ret_111         118065
Ret_112         118529
Ret_113         118240
Ret_114         118257
Ret_115         118147
Ret_116         118126
Ret_117         118524
Ret_118         118366
Ret_119         118332
Ret_120         120000
dtype: int64